# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Some of the popular languages that Data Scientists use are:** 
1. Python
2. SQL
3. R

**Some of the commonly used libraries used by Data Scientists include:**
1. Pandas
2. Scikit-learn
3. PyTorch
4. NumPy
5. TensorFlow

Data Science Tools
|Data Science Tools| 
|------------------| 
|Jupyter Notebook| 
|RStudio| 
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

x = (3*4)+5
print(f"{x}, {x==17}")

17, True

In [7]:
# This will convert 200 minutes to hours by diving by 60This will convert 200 minutes to hours by diving by 60

hours = 200 / 60
print(hours)

3.3333333333333335

**Objective:** List popular languages for Data Science
1. Python
2. SQL
3. R

## Author
Noah Wright